body {
    padding: 0 50px;
    font-family: sans-serif;
    /*width: 100%;*/
    max-width: 1200px;
    margin: auto;
    font-family: "Oscine W04 Light", serif;
    background-color: #f4f4f4;
    color: #373737 !Important;
}

* {
    -webkit-tap-highlight-color: transparent !Important;
}

.flex-start {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.flex-end {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    justify-content: flex-end;
}

.flex-center {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
}

.grid-2 {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 1fr;
    grid-template-columns: 1fr 1fr;
}

.grid-2-3 {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 2fr 3fr;
    grid-template-columns: 2fr 3fr;
}

.grid-3 {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 1fr 1fr;
    grid-template-columns: 1fr 1fr 1fr;
}

.grid-3-2 {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 3fr 2fr;
    grid-template-columns: 3fr 2fr;
}

.grid-7 {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (1fr)[7];
    grid-template-columns: repeat(7, 1fr);
}

.grid-8 {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (1fr)[8];
    grid-template-columns: repeat(8, 1fr);
}

.grid-9 {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (1fr)[9];
    grid-template-columns: repeat(9, 1fr);
}

a {
    text-decoration: none;
    color: black;
}

.sub-menu a {
    color: black;
}

/**************************************
*
* Front Page
*
**************************************/
.front-header {
    grid-row-gap: 15px;
    margin: 30px 0 0 0;
}

.menu-icons img {
    margin: 0 10px;
    padding-right: 30px;
    padding-bottom: 15px;
}

.menu-icons svg {
    margin: 0 10px;
    padding-right: 30px;
    padding-bottom: 15px;
    width: 35px;
}

.svg-wrap {
    position: relative;
    -webkit-transition: 0.1s ease-in-out;
    -o-transition: 0.1s ease-in-out;
    transition: 0.1s ease-in-out;
    fill: black;
}

.svg-wrap:active {
    fill: white;
}

.menu-icons .svg-wrap::after {
    content: "";
    opacity: 0;
    width: 55px;
    height: 55px;
    position: absolute;
    top: 0;
    right: 0;
    background-color: #286c5a;
    -webkit-transform: translate(-55%, -30%);
    -ms-transform: translate(-55%, -30%);
    transform: translate(-55%, -30%);
    border-radius: 50%;
    -webkit-transition: 0.1s ease-in-out;
    -o-transition: 0.1s ease-in-out;
    transition: 0.1s ease-in-out;
    pointer-events: none;
    display: inline-block;
    z-index: -1;
}

.front-mobile-footer .svg-wrap::after {
    content: "";
    opacity: 0;
    width: 55px;
    height: 55px;
    position: absolute;
    top: 0;
    right: 0;
    background-color: #286c5a;
    -webkit-transform: translate(10px, -25%);
    -ms-transform: translate(10px, -25%);
    transform: translate(10px, -25%);
    border-radius: 50%;
    -webkit-transition: 0.1s ease-in-out;
    -o-transition: 0.1s ease-in-out;
    transition: 0.1s ease-in-out;
    pointer-events: none;
    display: inline-block;
    z-index: -1;
}

.menu-icons .svg-wrap:active::after,
.front-mobile-footer .svg-wrap:active:after {
    opacity: 1;
}

.menu span {
    margin: 0 20px;
    font-size: 20px;
}

.menu {
    position: relative;
}

.lang-switcher {
    margin-right: 20px;
    position: relative;
    cursor: pointer;
}

.lang-switcher:hover,
.lang:hover a,
.lang:hover,
.lang a:hover {
    background-color: #cadccd;
    color: white;
    -webkit-transition: 0.1s ease-in-out;
    -o-transition: 0.1s ease-in-out;
    transition: 0.1s ease-in-out;
}

.lang:active,
.lang a:active,
.lang:active a {
    background-color: #286c5a;
}

.lang-sub-menu {
    display: none;
    position: absolute;
    top: 100%;
    left: 0%;
    padding-top: 5px;
}

.lang-switcher:hover .lang-sub-menu {
    display: block;
}

.lang {
    margin-bottom: 5px;
}

.header-button {
    border: 1px solid lightgray;
    margin: 0 5px;
    padding: 3px 5px;
}

.header-button:hover,
.header-button a:hover,
.header-button:hover a {
    background-color: #cadccd;
    color: white;
    -webkit-transition: 0.1s ease-in-out;
    -o-transition: 0.1s ease-in-out;
    transition: 0.1s ease-in-out;
    -webkit-tap-highlight-color: transparent !Important;
    cursor: pointer;
}

.header-button:active,
.header-button a:active,
.header-button:active a {
    background-color: #286c5a;
}

.new {
    position: relative;
}

.new::after {
    content: " ";
    position: absolute;
    top: 0;
    right: 20%;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: #85b191;

}

.front-header-image {
    height: 300px;
    background-color: #dcd0c0;
    /* color: white; */
    position: relative;
}

.front-header-image h1 {
    letter-spacing: 2px;
}

.front-header-image-text {
    position: absolute;
    width: 100%;
    top: 50%;
    left: 53%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.front-header-sub-text {
    margin-top: 15px;
    font-size: 13px;
    line-height: 19px;
    letter-spacing: 1px;
    padding-left: 5px;
}

.front-product-shortcut {
    position: relative;
    cursor: pointer;
}

.front-product-shortcut::before {
    content: "";
    opacity: 0;
    width: 63%;
    height: 80%;
    position: absolute;
    top: 0;
    right: 0;
    border: 3px solid #dcd0c0;
    -webkit-transform: translateY(20px);
    -ms-transform: translateY(20px);
    transform: translate(-46px, 0px);
    border-radius: 50%;
    -webkit-transition: 0.1s ease-in-out;
    -o-transition: 0.1s ease-in-out;
    transition: 0.1s ease-in-out;
    pointer-events: none;
}

.front-product-shortcut:hover::before {
    opacity: 1;
}

.front-product-shortcut:active::before {
    border: 3px solid #373737;
}
.front-product-shortcut.active::after {
    content: "";
    opacity: 1;
    width: 63%;
    height: 80%;
    position: absolute;
    top: 0;
    right: 0;
    border: 3px solid #373737;
    -webkit-transform: translateY(20px);
    -ms-transform: translateY(20px);
    transform: translate(-46px, 0px);
    border-radius: 50%;
    -webkit-transition: 0.1s ease-in-out;
    -o-transition: 0.1s ease-in-out;
    transition: 0.1s ease-in-out;
    pointer-events: none;
}

/**************************************
*
* Front Slider
*
**************************************/
.front-slider {
    position: relative;
}

.front-slider img {
    width: 100%;
    max-width: 100%;
    height: 300px;
}

.slider-text {
    position: absolute;
    top: 45%;
    right: 15%;
    color: white;
}

.slider-button {
    border: 1px solid white;
    padding: 5px 10px;
    margin-bottom: 20px;
    text-align: center;
    -webkit-transition: 0.1s ease-in-out;
    -o-transition: 0.1s ease-in-out;
    transition: 0.1s ease-in-out;
    cursor: pointer;
    -webkit-tap-highlight-color: transparent !Important;
}

.slider-button:hover {
    background-color: #286c5a;
    opacity: 0.9;
    color: white;
}

.slider-nav {
    position: absolute;
    top: 85%;
    left: 50%;
    -webkit-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    transform: translateX(-50%);
}

.slider-dot {
    height: 20px;
    width: 20px;
    background-color: white;
    border-radius: 50%;
    display: inline-block;
    margin: 0 3px;
    cursor: pointer;
}

.slider-dot:hover {
    background-color: lightgrey;
}

.slider-full-screen {
    width: 30px;
    position: absolute;
    top: 5px;
    right: 5px;
    height: 30px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    background-color: rgba(52, 59, 52, 0.58);
    border-radius: 12px;
    cursor: pointer;
}

.slider-full-screen img {
    height: auto;
    width: 18px;
    margin: auto;
}

.overlay {
    visibility: hidden;
    opacity: 0;
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.7);
    z-index: 9999;
    -webkit-transition: 0.1s ease-in-out;
    -o-transition: 0.1s ease-in-out;
    transition: 0.1s ease-in-out;
}

.slider-modal {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    z-index: 999999;
    opacity: 0;
    visibility: hidden;
}

.slider-modal img {
    max-width: 800px;
    max-height: 500px;
    width: 100%;
    height: 100%;
    min-width: 300px;
}

.modal-close {
    position: absolute;
    z-index: 999999;
    top: 10%;
    right: 10%;
    cursor: pointer;
    color: white;
    font-size: 30px;
}

.slider-modal.active,
.overlay.active {
    -webkit-transition: 0.1s ease-in-out;
    -o-transition: 0.1s ease-in-out;
    transition: 0.1s ease-in-out;
    visibility: visible;
    opacity: 1;
}

.grid-6 {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (1fr)[6];
    grid-template-columns: repeat(6, 1fr);
}

.grid-6 img,
.grid-7 img,
.grid-8 img,
.grid-9 img {
    width: 80px;
    margin-bottom: 10px;
}

.front-icons {
    text-align: center;
    font-size: 10px;
    margin-top: 15px;
}
.front-icons i {
    text-align: center;
    font-size: 40px;
    margin: 10px 0 15px 0;
}
.front-icons {
    text-align: center;
    font-size: 10px;
    margin-top: 15px;
}

.front-icons p:first-child {
    height: 25px;
}

.front-icons-text {
    line-height: 15px;
    color: #373737;
    font-size: 12px;
}

.grid-6-1 {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 6fr 1fr;
    grid-template-columns: 6fr 1fr;
}

.grid-1 {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
}

.menu-item {
    padding-bottom: 15px;
    margin: 0 5px;
}

.menu-item a {
    text-decoration: none;
    color: black;
}

.dropdown {
    display: none;
    position: absolute;
    top: 100%;
    left: 0%;
    background-color: #1e6450;
    z-index: 999;
    width: 100%;
    height: 130px;
}

.dropdown a {
    color: white;
}

.menu:hover .dropdown {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    opacity: 0.95;
}

.dropdown-section {
    display: inline-block;
    padding-left: 21px;
    padding-top: 18px;
    color: white;
    font-size: 15px;
    width: 90px;
}

.dropdown-section div {
    padding-top: 10px;
    cursor: pointer;
}

.dropdown-section div:hover {
    /* text-decoration: underline; */
    font-weight: 600;
}

/**************************************
*
* Tooted -> Pages
*
**************************************/
.header {
    margin-top: 30px;
    -ms-flex-line-pack: end;
    align-content: flex-end;
}

.header-right {
    -webkit-box-align: end !Important;
    -ms-flex-align: end !Important;
    align-items: flex-end !Important;
}

.sub-menu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    justify-content: flex-end;
    padding-right: 30px;
    margin-bottom: 20px;
    vertical-align: baseline;
}

.sub-menu div {
    margin: 0 7px;
}

.sub-menu .active {
    font-weight: 600;
    cursor: default;
}

.menu-item.active a {
    border: 1px solid lightgrey;
    padding: 3px 5px;
}

.content {
    grid-column-gap: 20px;
}

.content-left {
    text-align: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -ms-flex-item-align: center;
    align-self: center;
}

.content-left p,
.content-left h3 {
    line-height: 25px;
    padding: 0 10px;
}

.content-left p {
    text-align: justify;
}

.content-right {
    text-align: center;
}

.content-right img {
    max-width: 100%;
    margin: auto;
}

.content-bottom {
    text-align: center;
    position: relative;
}

.content-bottom img {
    width: 80px;
}

.content-left-icon h1 {
    display: inline-block;
}

.content-left img {
    width: 100%;
    max-width: 50px;
    margin-right: 10px;
}

.funktsioonid-icons img {
    width: 80px;
    margin-top: 20px;
}

.funktsioonid-buttons {
    margin: 20px 0;
}

.detailid-data img {
    width: 20px;
    -webkit-transform: translateY(3px);
    -ms-transform: translateY(3px);
    transform: translateY(3px);
}

.detailid-data p {
    margin: 5px 0;
}

/**************************************
*
* Uudised Pages
*
**************************************/
.news-grid-3-1 {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 3fr 1fr;
    grid-template-columns: 3fr 1fr;
}

.news-grid-2 {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 1fr;
    grid-template-columns: 1fr 1fr;
}

.news-post {
    position: relative;
    position: relative;
    width: 330px;
    margin: auto;
    margin-bottom: 20px;
}

.news-post img {
    max-width: 330px;
    width: 100%;
}

.news-post-text {
    position: absolute;
    bottom: 0;
    left: 30px;
    background-color: white;
    width: 300px;
    height: 50px;
    padding-left: 10px;
    padding-top: 10px;
    font-size: 18px;
    line-height: 25px;
    font-weight: 600;
}

.news-post-icon {
    margin-right: 15px;
    -webkit-transform: translateY(15px);
    -ms-transform: translateY(15px);
    transform: translateY(15px);
}

.news-social {
    text-align: right;
}

.news-button {
    border: 3px solid lightgrey;
    padding: 10px 20px;
    font-size: 18px;
    margin-bottom: 20px;
    text-align: center;
    cursor: pointer;
}

.news-button:hover,
.news-button:hover a,
.news-button a:hover,
input[type=submit]:hover {
    background-color: #cadccd !Important;
    color: white !Important;
    -webkit-transition: 0.1s ease-in-out !Important;
    -o-transition: 0.1s ease-in-out !Important;
    transition: 0.1s ease-in-out !Important;
    -webkit-tap-highlight-color: transparent !Important;
}

.news-button:active,
.news-button:active a,
.news-button a:active,
input[type=submit]:active {
    background-color: #286c5a !Important;
    color: white;
}

.social-icon {
    margin-top: 10px;
}

.news-content-right {
    margin-top: 70px;
}

.news-post-pic {
    float: right;
    width: 100% !Important;
    max-width: 550px !Important;
    margin: 20px;
}

.news-heading img {
    margin-right: 10px;
    margin-left: 10px;
    -webkit-transform: translateY(7px);
    -ms-transform: translateY(7px);
    transform: translateY(7px);
}

/**************************************
*
* Contact Pages
*
**************************************/
.news-post-text.contact-card {
    font-size: 15px;
    line-height: 17px;
    letter-spacing: 1px;
    font-weight: 400;
}

.contact-post {
    margin-bottom: 40px;
}

.grid-5-1 {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 5fr 1fr;
    grid-template-columns: 5fr 1fr;
}

.contact-social {
    margin-top: 15px;
}

/**************************************
*
* Mobile Menu
*
**************************************/
.mobile-toggle {
    display: none;
    cursor: pointer;
    padding-left: 70px;
    padding-bottom: 15px;
}

.bar {
    width: 30px;
    height: 3px;
    background-color: #85B191;
    margin: 5px 0;
}

#mobile-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 9;
}

/**************************************
*
* Registration form
*
**************************************/
.form-grid {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 5px 1fr;
    grid-template-columns: 1fr 1fr;
    grid-gap: 5px;
}

.regForm input {
    margin: 5px;
    height: 25px;
}

.regForm select {
    height: 30px;
    margin: 5px;
}

#agree {
    -webkit-transform: translateY(6px);
    -ms-transform: translateY(6px);
    transform: translateY(6px);
}

input[type="radio"] {
    margin: 0 0 10px 0;
    height: 12px;
}

#submitForm {
    background-color: #fff;
    border: 2px solid lightgrey;
    color: black;
    padding: 14px !Important;
    text-decoration: none;
    margin: 0px;
    cursor: pointer;
    outline: none;
    width: 100%;
    height: 45px;
    margin-top: 20px;
}

.form-success {
    color: #286C5A;
}

/**************************************
*
* Mobile Footer
*
**************************************/
/*  MOBILE FOOTER MENU */
.mobile-footer-menu {
    display: none;
    margin: 20px 0 10px 0;
    position: relative;
}

.mobile-footer-submenu {
    text-align: center;
    margin-bottom: 8px;
}

.mobile-footer-submenu div {
    display: inline-block;
    font-size: 14px;
    margin: 0 2px;
}

.mobile-menu-content-left,
.mobile-menu-content-right {
    display: inline-block;
    margin-left: 10px;
}

.mobile-menu-content-right {
    margin-right: 10px;
    float: right;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

.mobile-menu-toggler,
.footer-active-menu-item {
    display: inline-block;
    margin-left: 10px;
}

#mobile-menu h4 {
    margin: 0;
    grid-column: none;
}

.mobile-menu-wrap {
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: white;
}

.front-mobile-footer {
    -ms-grid-columns: 2fr 15px 1fr 15px 1fr 15px 1fr 15px 1fr 15px 1fr;
    grid-template-columns: 2fr 1fr 1fr 1fr 1fr 1fr;
    grid-gap: 15px;
    padding: 0 10px;
    margin-bottom: 20px;
    margin-top: 15px;
    display: none;
    position: relative;
}

.mobile-lang-switcher {
    height: 25px;
    padding-top: 5px;
    position: relative;
    display: inline-block;
}

.mobile-lang-switcher img {
    width: 40px;
}

#mobile-lang-dropdown {
    position: absolute;
    bottom: 100%;
    left: 0;
    z-index: 9999999;
}

#mobile-menu {
    display: block;
    position: absolute;
    bottom: 100%;
    left: 0;
    width: 100%;
    height: 250px;
    background-color: white;
    padding-bottom: 15px;
    z-index: 999;
}

.mobile-menu-sections {
    text-align: left;
    margin: 0;
    padding-right: 10px;
    border-bottom: 1px solid #efefef;
}

.mobile-menu-sections:last-child {
    border: none;
}

.mobile-menu-sections:first-child {
    border-top: 1px solid #efefef;
}

.mobile-menu-sections h2 {
    text-align: right !Important;
    margin: 0;
}

.mobile-menu-sections p {
    display: inline-block;
    font-size: 14px;
    margin-left: 15px;
}

.mobile-menu-sections a {
    color: black;
}

.header {
    margin-top: 0;
}

.content-left {
    padding: 0 20px;
}

.content-bottom p {
    font-size: 12px;
}

.content-bottom img {
    width: 60px;
}

/********************************************************/
@media only screen and (max-width: 1024px) {
    .grid-3-2 {
        -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
    }

    .grid-6,
    .grid-9 {
        -ms-grid-columns: (1fr)[3];
        grid-template-columns: repeat(3, 1fr);
    }

    .grid-7,
    .grid-8 {
        -ms-grid-columns: (1fr)[4];
        grid-template-columns: repeat(4, 1fr);
    }

    .grid-6-1 {
        -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
    }

    .grid-1 {
        -ms-grid-columns: (1fr)[4];
        grid-template-columns: repeat(4, 1fr);
        margin: 30px 0;
    }

    .front-header-image h1 {
        font-size: 22px;
    }

    .front-header-sub-text div:first-child {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
    }

    .grid-6 img,
    .content-bottom.grid-3 img {
        width: 60px;
    }

    .front-icons p:first-child {
        height: 15px;
    }

    .front-icons p:last-child {
        line-height: 12px;
    }

    .news-grid-3-1 {
        -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
    }

    .news-social {
        display: none;
    }

    .front-product-shortcut:hover::before {
        display: none;
    }
}

@media only screen and (max-width: 900px) {
    body {
        padding: 0;
        margin-bottom: 100px;
    }

    .front-header {
        -ms-grid-columns: 2fr 5fr !Important;
        grid-template-columns: 2fr 5fr !Important;
        margin: 0;
    }

    .header-right {
        -webkit-box-align: center !Important;
        -ms-flex-align: center !Important;
        align-items: center !Important;
    }

    .front-header-right {
        display: none;
    }

    .menu,
    .sub-menu {
        display: none;
    }

    .mobile-toggle {
        display: inline-block;
    }

    .content-bottom {
        -ms-grid-columns: 1fr 1fr 1fr 1fr;
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }

    .content-bottom.grid-3 {
        -ms-grid-columns: 1fr 1fr 1fr;
        grid-template-columns: 1fr 1fr 1fr
    }

    .content {
        -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
    }

    h3 {
        text-align: center;
    }

    .front-header-left {
        margin-left: 0;
    }

    .header-left,
    .front-header-left {
        display: none;
    }

    .content-left {
        -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
        order: 2;
        padding: 0;
    }

    .content-left img {
        margin-right: 0 !Important;
    }

    .content-right {
        -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
        order: 1;
    }

    .mobile-footer-menu {
        display: block;
    }

    .front-mobile-footer {
        display: -ms-grid;
        display: grid;
    }

    .menu-icons {
        display: none;
    }

    .news-post-pic {
        max-width: 100% !Important;
        float: none;
        margin: 0;
    }

    .news-post-content p {
        padding: 0 20px;
    }

    .news-post-icon {
        max-width: 55px !Important;
    }
}

@media only screen and (max-width: 778px) {
    .grid-3-2 {
        -ms-grid-columns: 1fr !Important;
        grid-template-columns: 1fr !Important;
    }

    .front-header {
        -ms-grid-columns: 2fr 1fr !Important;
        grid-template-columns: 2fr 1fr !Important;
    }

    .header-right .header-button {
        display: none;
    }

    .front-header .grid-3-2 {
        display: block !Important;
    }

    .front-header-image {
        display: none;
    }

    .front-text {
        margin-bottom: 30px;
    }

    .mobile-toggle {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: end;
        -ms-flex-pack: end;
        justify-content: flex-end;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
    }

    .mobile-toggle {
        padding-bottom: 35px;
    }

    .social-icons {
        display: none;
    }

    .news-grid-2 {
        -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
    }

    .form-grid {
        display: -ms-grid;
        display: grid;
        -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
        grid-gap: 5px;
        /* padding: 0 10px; */
    }

}

@media only screen and (max-width: 576px) {
    body {
        padding: 0;
        width: 100% !Important;
    }

    .grid-6 {
        -ms-grid-columns: (1fr)[3] !Important;
        grid-template-columns: repeat(3, 1fr) !Important;
    }

    .social-icons {
        width: 80%;
        margin: 20px auto 30px auto;
    }

    .slider-text {
        right: 0;
    }

    .front-text,
    .social-icons {
        display: none !Important;
    }

    .front-icons {
        margin: 20px 0;
        position: relative;
    }

    .front-icons-text {
        display: none;
    }

    .news-post-icon {
        display: none;
    }
}

@media only screen and (max-width: 400px) {
    .new::after {
        right: -10%;
    }

    .front-product-shortcut:hover::after {
        content: "";
        opacity: 1;
        width: 90% !Important;
        height: 90% !Important;
        position: absolute;
        top: 0;
        right: 0;
        border: 3px solid #286c5a;
        -webkit-transform: translateY(10px);
        -ms-transform: translateY(10px);
        transform: translateY(10px);
        border-radius: 50%;
        -webkit-transition: 0.1s ease-in-out;
        -o-transition: 0.1s ease-in-out;
        transition: 0.1s ease-in-out;
        pointer-events: none;
        display: inline-block;
    }
}

@font-face {
    font-family: "Oscine W04 Light";
    src: url("f3b4480034be437c576a2fd2af7173db.eot");
    /* IE9*/
    src: url("f3b4480034be437c576a2fd2af7173db.eot?#iefix") format("embedded-opentype"),
        /* IE6-IE8 */
        url("f3b4480034be437c576a2fd2af7173db.woff2") format("woff2"),
        /* chromeم€پfirefox */
        url("f3b4480034be437c576a2fd2af7173db.woff") format("woff"),
        /* chromeم€پfirefox */
        url("f3b4480034be437c576a2fd2af7173db.ttf") format("truetype"),
        /* chromeم€پfirefoxم€پoperaم€پSafari, Android, iOS 4.2+*/
        url("f3b4480034be437c576a2fd2af7173db.svg#Oscine W04 Light") format("svg");
    /* iOS 4.1- */
}