:root {
    --primary-color: hsl(0, 0%, 100%);
    --secondary-color: hsl(210, 20%, 94%);
    --tertiary-color: hsl(210, 10%, 84%);
    --accent-color: hsl(210, 16%, 24%);
    --slider-track-border-radius: 2em;
    --slider-thumb-border-radius: 8em;
    --slider-thumb-size: 4em;
}

input[type=range] {
    height: var(--slider-thumb-size);
    -webkit-appearance: none;
    width: 100%;
}

/* Halb accessibility aga mida iganes, eks? */
input[type=range]:focus {
    outline: none;
}

input[type=range]::-webkit-slider-runnable-track {
    width: 100%;
    height: calc(var(--slider-thumb-size) / 2);
    cursor: pointer;
    background: var(--secondary-color);
    border-radius: var(--slider-track-border-radius);
}

input[type=range]::-webkit-slider-thumb {
    height: var(--slider-thumb-size);
    width: var(--slider-thumb-size);
    border-radius: var(--slider-thumb-border-radius);
    background: var(--tertiary-color);
    cursor: pointer;
    -webkit-appearance: none;
    /* Ma nii vihkan seda */
    margin-top: calc(var(--slider-thumb-size) / -4);
}

input[type=range]::-moz-range-track {
    width: 100%;
    height: calc(var(--slider-thumb-size) / 2);
    cursor: pointer;
    background: var(--secondary-color);
    border-radius: var(--slider-track-border-radius);
}

input[type=range]::-moz-range-thumb {
    border: none;
    height: var(--slider-thumb-size);
    width: var(--slider-thumb-size);
    border-radius: var(--slider-thumb-border-radius);
    background: var(--tertiary-color);
    cursor: pointer;
}

#play {
    background: url("triangle.svg") no-repeat;
    padding: 10px;
    width: 10em;
    height: 10em;
    border: none;
}

#value {
    font-size: xx-large;
    font-weight: bold;
    border: solid 1px var(--accent-color);
    border-radius: 4px;
    padding: .5em;
    line-height: 1em;
    width: 1.25em;
    text-align: center;
}

#slider {
    width: 60%;
}

.menu > * {
    margin: 1em;
}

body {
    margin: 0;
}

.menu {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.game {
    display: flex;
    flex-direction: row;
    height: 100vh;
}

.card {
    display: inherit;
    flex-direction: row;
}

.front {
    height: 7em;
    width: 5em;
    border: solid 2px var(--accent-color);
    border-radius: 4px;
    box-shadow: 0 0 16px var(--accent-color);
    transition: box-shadow ease .2s;
    text-align: center;
}

.front:hover {
    box-shadow: 0 0 4px rgba(0, 0, 0, .5);
}