* {
    font-family: verdana;
}

body {
    background-color: honeydew;
}

h5 {
    font-size: large;
    font-weight: 800;
}

.text2 {
    font-size: large;
}

.main-grid {
    display: grid;
    grid-template-columns: 40vw 40vw auto;
    grid-template-rows: 25vw 25vw;
    border: 2px solid black;
}

.grid-submit {
    grid-column: 1/2;
    grid-row: 1/3;
    background-color: rgb(255, 103, 103);
}

.grid-budget-display {
    grid-column: 2/4;
    grid-row: 1/2;
    background-color: rgb(121, 228, 247);
}

.grid-expense-list {
    grid-column: 2/4;
    grid-row: 2/3;
    background-color: rgb(194, 248, 112);
}

.submit-form {
    padding: 10px;
    overflow: scroll;
}

.budget-form, .expense-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.budget-display, .expense-list-items {
    padding: 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}


.expense-list {
    overflow: scroll;
    display: flex;
    flex-direction: column;

}

.input-box {
    height: 5vh;
}

.btn {
    margin: 20px;
    height: 5vh;
    font-size: medium;
}

.btn:hover {
    cursor: pointer;
    background-color: rgb(122, 195, 255);
}

.delete-icon {
    width: 2vw;
    height: 2vh;
}

.delete-icon:hover, .edit-icon:hover {
    cursor: pointer;
}

.edit-icon {
    width: 2vw;
    height: 2vh;
}

/* .color-changer {
    display: flex;
    flex-direction: column;
    padding: 20px;
} */