* {
    font-family: verdana;
}

body {
    background-color: honeydew;
}

.text2 {
    font-size: large;
}

.main-grid {
    display: grid;
    grid-template-columns: 40vw 40vw auto;
    grid-template-rows: 25vw 25vw;
    border: 1px solid rgb(131, 131, 131);
}

.grid-submit {
    grid-column: 1/2;
    grid-row: 1/3;
    background-color: rgba(247, 115, 115, 0.5);
}

.grid-budget-display {
    grid-column: 2/4;
    grid-row: 1/2;
    background-color: rgba(121, 228, 247, 0.5);
}

.grid-expense-list {
    grid-column: 2/4;
    grid-row: 2/3;
    background-color: rgba(214, 255, 153, 0.5);
}

.submit-form {
    padding: 10px;
    overflow: scroll;
}

.budget-form, .expense-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.budget-display, .expense-list-items, .list-item {
    padding: 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}


.expense-list {
    overflow: scroll;
    display: flex;
    flex-direction: column;
}

.expense-item {
    display: flex;
    flex-direction: row;
}

.input-box {
    height: 5vh;
}

.btn {
    margin: 20px;
    height: 5vh;
    font-size: medium;
}

.btn:hover {
    cursor: pointer;
    background-color: rgb(122, 195, 255);
}

.delete-icon {
    width: 2vw;
    height: 2vh;
}

.delete-icon:hover, .edit-icon:hover {
    cursor: pointer;
}

.edit-icon {
    width: 2vw;
    height: 2vh;
}